@{  
    ViewBag.Title = "Index";  
}
<meta http-equiv="refresh" content="@ViewBag.UpdateFrequency" />
<br />
@using (Html.BeginForm())  
{  
    <input type="URL" name="RSSURL" placeholder="Enter RSS Feed URL Here..." class="form-control" value="@ViewBag.URL"/> 
    <br />  
    <input type="text" name="Frequency" placeholder="Enter refresh seconds Here... (>= 5)" class="form-control" value="@ViewBag.UpdateFrequency"/>
    <br />  
    <button type="submit" class="btn btn-secondary"> Сохранить </button>
}  

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Description</th>
        <th>Publish Date</th>
    </tr>
    </thead>
    <tbody>
    @if (ViewBag.RSSFeed != null && ViewBag.Message == null)
    {

        foreach (var item in ViewBag.RSSFeed)
        {
            <tr>
                <td>@item.Title</td>
                <td><a href="@item.Link">@item.Link</a></td>
                <td>@Html.Raw(item.Description)</td>
                <td>@item.PubDate</td>
            </tr>
        }
    }
    else
    {
        <script type="text/javascript">  
                window.onload = function () {  
                    alert("@ViewBag.Message");  
                };  
            </script> 
    }
    </tbody>
</table>


