@{  
    ViewBag.Title = "Index";  
}
<meta http-equiv="refresh" content="@ViewBag.UpdateFrequency" />
<br />
@using (Html.BeginForm())  
{  
    <input type="URL" name="RSSURL" placeholder="Enter RSS Feed URL Here..." class="form-control" value="@ViewBag.URL"/> 
    <br />  
    <input type="text" name="Frequency" placeholder="Enter refresh seconds Here..." class="form-control" value="@ViewBag.UpdateFrequency"/>
    <br />  
    <button type="submit" class="btn btn-secondary"> Сохранить </button>
}  

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Description</th>
        <th>Publish Date</th>
    </tr>
    </thead>
    <tbody>
    @if (ViewBag.RSSFeed != null)
    {

        foreach (var item in ViewBag.RSSFeed)
        {
            <tr>
                <td>@item.Title</td>
                <td><a href="@item.Link">@item.Link</a></td>
                <td>@Html.Raw(item.Description)</td>
                <td>@item.PubDate</td>
            </tr>
        }
    }
    </tbody>
</table>

<asp:Timer ID="Timer1" runat="server" Interval="10" ontick="Timer1_Tick">
    </asp:Timer> 
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
                <asp:Label ID="Label1" runat="server"></asp:Label>
            </ContentTemplate>
        <Triggers>
            <asp:AsyncPostBackTrigger ControlID="Timer1" EventName="Tick"></asp:AsyncPostBackTrigger>
        </Triggers>
</asp:UpdatePanel>


<script>

    setInterval(checkValidId, 2000);
    
    function checkValidId(url)
    {
        $.ajax({
             url: "/RSSFeed/AjaxMethod",
             type: 'POST',
             contentType: 'application/json;',
             data: JSON.stringify({ url: url }),
             success: function (valid)
             {
                 

             }
        });
    }
    
</script>


